.icon1{
    display:none;
}
.icon2{
    display:none;
}
.icon{
    display:inline-block;
}

button.btnOur {
    width: 4.3rem;
    height: 3rem;
    background: #2d3a4b;
    border: none;
    color: white;
}
