/* Log in css*/
    .login-wrapper{
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#login{
	margin-top: -8rem;
}
#login .container #login-row #login-column #login-box {
  margin-top: 60px;
  max-width: 600px;
  height: 320px;
  border-radius: 5px ;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/* add user form css*/
span.input-group-addon {padding: 5px 12px 0px 0px;}